<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing </title>
    <link rel="stylesheet" href="/style.css">



</head>
<body>
    
    <h2>Your file ready is for download </h2>
    <a href="<%= fileUrl %>" download>Download File</a>
</body>
</html>
